Page {
    background-color: #EEEEEE;
}

TextView {
    height: 150;
}

ActivityIndicator {
    width: 50;
    height: 50;
    horizontal-align: center;
    vertical-align: center;
}

button {
    horizontal-align: stretch;
}

image{
    horizontal-align: center;
    vertical-align: center;
    margin-left: 10;
    margin-right: 10;
}

label,
textfield,
textview,
segmentedbar,
listpicker,
datepicker
{
    vertical-align: center;
    margin-left: 10;
    margin-right: 10;
}

.splash-logo{
    width: 180;
    height: auto;
    margin: 10;
}

.image-logo{
    width: 100;
    height: auto;
}

.list-view {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1;
    padding: 7;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
}

.image-icon{
    width: 30;
    height: auto;
}

.message-label{
    background-color: #ffffff;
    color: #4d4d4d;
    font-size: 18;
    width: auto;
    height: auto;
    text-align: center;
    horizontal-align: center;
    border-color: #cccccc;
    border-width: 1;
    padding: 10;
    margin: 10;
}

.message-label-left{
    background-color: #ffffff;
    color: #4d4d4d;
    font-size: 16;
    width: auto;
    height: auto;
    text-align: left;
    horizontal-align: center;
    border-color: #cccccc;
    border-width: 1;
    padding: 10;
    margin: 10;
}

.about-message{
    background-color: #ffffff;
    color: #4d4d4d;
    font-size: 14;
    width: auto;
    height: auto;
    text-align: left;
    horizontal-align: center;
    border-color: #cccccc;
    border-width: 1;
    padding: 10;
    margin-left: 10;
    margin-bottom: 10;
    margin-right: 10
}

.info-label{
    background-color: #ffffff;
    color: #0000ff;
    font-size: 18;
    font-weight: bold;
    width: 250;
    height: 50;
    text-align: center;
    horizontal-align: center;
    border-color: #cccccc;
    border-width: 2;
    padding: 9;
    margin-bottom: 15;
}

.message {
    color: #4d4d4d;
    font-size: 16;
    horizontal-align: center;
    margin: 10;
}

.title {
    margin-top: 10;
    margin-bottom: 10;
    font-size: 21;
    color: #4d4d4d;
    font-weight: bold;
    horizontal-align: center;
}

.hpbar-bg{
    background-color: #d9d9d9;
    padding: 2;
    margin-left: 10;
    margin-right: 10;
}

.catbar{
    horizontal-align: stretch;
    vertical-align: stretch;
    margin-bottom: 10;
    margin-top: 10;
}

.subtitle {
    margin-top: 10;
    margin-bottom: 10;
    font-size: 17;
    color: #4d4d4d ;
    horizontal-align: center;
}

.subtitle-left {
    margin-top: 5;
    margin-bottom: 0;
    font-size: 17;
    color: #4d4d4d ;
    horizontal-align: left;
}

.minititle-left{
    margin-top: 10;
    margin-bottom: -7;
    font-size: 13;
    color: #4d4d4d ;
    horizontal-align: left;
}

.minititle-right{
    margin-top: 10;
    margin-bottom: -7;
    font-size: 12;
    color: #4d4d4d ;
    horizontal-align: right;
}

.minititle-right-cockpit{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12;
    color: #4d4d4d ;
    horizontal-align: right;
}

.field {
    font-size: 14;
    color: #4d4d4d;
    margin-top: 5;
    margin-bottom: 5;
    horizontal-align: center;
}

.field-left {
    font-size: 14;
    color: #4d4d4d;
    margin-top: 5;
    margin-bottom: 5;
    horizontal-align: left;
}

.paytype {
    margin-top: 5;
    margin-bottom: 10;
}

.input-field {
    font-size: 15;
    color: #4d4d4d;
    margin-top: 0;
    margin-bottom: 5;
    horizontal-align: stretch;
}

.separator {
    height: 2;
    background-color: #828282;
}


.deleteButton {
    width: 50;
    horizontal-align: center;
    background-image: url('~/images/icons/trash.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}



