@import url("~/app-common.css");

.fab-button {
    height: 70;
    horizontal-align: center;
    vertical-align: bottom;
    margin-top: 10;
}

.progress-categories-blue{
    color:#0080ff;
}

.progress-categories-red{
    color:#ff0000;
}


.progress-hp{
    color:#ffffff;
    background-color: #ff0000;
}

.report-chart {
    height: 200;
    width: auto;

}

.haxis-char{
    visibility: collapse;
    height: 200;

}

.drawerContent{
    background-color: #ffffff;
}

.headerContent{
    background-color: #1976D2;
    height: 50;
    text-align: center;
    vertical-align: center
}