@import url("~/app-common.css");

.fab-button {
    height: 70;
    horizontal-align: center;
    vertical-align: bottom;
    margin-top: 10;
}

.progress-categories-blue{
    color:#0080ff;
    width: auto;
    margin-left: 10;
    margin-right: 10;
}

.progress-categories-red{
    color:#ff0000;
    width: auto;
    margin-left: 10;
    margin-right: 10;
}

.progress-categories-green{
    color:#4CAF50;
    width: auto;
    margin-left: 10;
    margin-right: 10;
}


.progress-hp{
    color:#ff0000;
    background-color: #ffffff;
    width: auto;
    margin-top: -7;
    margin-bottom: -7;
    vertical-align: center;
}

.drawerContent{
    background-color: #ffffff;
    width: 200;
}

.drawerMenuContent{
    margin: 10;
    text-align: right;
    font-size: 18;
}

.headerContent{
    background-color: #1976D2;
    height: 50;
    text-align: center;
    vertical-align: center;
    color: #ffffff;
    font-size: 18;
    font-weight: bold;
}

.drawerItem{
    margin: 15;
}